/spark
SK.TXT
/config
/config/config.py
.metadata
offsets
sources
commits
_spark_metadata
config/config.py
.env
.idea
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
s3.py
aws.env
ranfom.py
random_json.py
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.84.0/linux_amd64/terraform-provider-aws_v5.84.0_x5
__pycache__/udf_utils.cpython-312.pyc
terraform.tfstate
terraform/terraform_outputs.json
jobs.py
terraform/var.tf